@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: var(--font01);

}

/* Light Theme */
:root {
    --font01: "Outfit";
    --background-color: #ffffff;
    --background-color2: #000000;
    --text-color: #000000;
    --text-color2: #ffffff;
    --shadow: 0 0 10px black;
    --insetShadow: inset 0px 0px 1000px white;
    

     /*... other variables ... */
    }

    /* Dark Theme */
:root.dark {
    --background-color: #111111;
    --background-color2: #ffffff;
    --text-color: #ffffff;
    --text-color2: #000000;
    --shadow: 0 0 10px white;
    --insetShadow: inset 0 -10px 10px #111111;
     /*... other variables ... */
    }

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

hr {
    background-color: var(--background-color2);
}

#menu-wrapper {
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    left: 90%;
}

.icons {
    filter: invert(0);
}

.cursor{
    visibility: visible;
    animation: cursorTick .6s ease-in infinite;
    z-index: 5;
}

a::after {
    text-decoration: none;
}

a::before {
    text-decoration: none;
}

a{
    color: var(--text-color);
}

#mobile-menu-wrapper {
    text-align: right;
}

#mobile-menu {
    display: inline-block;
    width: 200px;
    height: 300px;
    background-color: var(--background-color);
    border-radius: 5%;
    box-shadow: var(--shadow);

    text-align: center;
    display: none;
    transition: calc(.5s);
}

#mobile-menu > ul{
    list-style: none;
    margin: 20% 0;
}

#mobile-menu > ul > li {
    margin-top: 20%;
}

#mobile-menu > ul > li > a{
    color: var(--text-color1);
}


@keyframes cursorTick {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}


/*Desktop*/

@media (max-width: 4000px)  {
    body > h1 {
        font-size: 32px;
        transition: calc(.3s);
        font-family: var(--font01)
    }


    /*circle open*/
    div.circle {  
        font-family: var(--font01);
        color: white;
        border-radius: 140px;
        height:230px;
        width: 230px;
        position: fixed;
        display: block;
        transition: calc(0.5s); 
        box-shadow: var(--shadow); 
        background-color: var(--background-color2);
        z-index: 1;
    }

    #c01 > h1 {
        font-size: 25px;
        display: block;
        margin: 95px 60px;
        padding: 20px; 
    }

    #c01 {
        left: -10%;
        top: -20%;
        background-color: var(--color01);
    }

    #c01:hover{
        border-radius: 250px;
        height: 500px;
        width: 500px;
        transition: calc(0.5s);
    }


    #c02 {
        right: -10%;
        top: -20%;
        background-color: var(--color01);
        
    }

    
    #c02 > h1 {
        font-size: 25px;
        display: block;
        margin: 95px 5px;
        padding: 20px;
        transition: calc(.2s);    
    }


    #c02:hover{
        border-radius: 250px;
        height: 500px;
        width: 500px;
        transition: calc(0.5s);
    }

    #c03 {
        left: -10%;
        bottom: -20%;
        background-color: var(--color01);
      
    }
    
    #c03:hover{
        border-radius: 250px;
        height: 500px;
        width: 500px;
        transition: calc(0.5s);
    }

    
    #c04 {
        right: -10%;
        bottom: -20%;
        background-color: var(--color01);
      
    }

    #c04:hover{
        border-radius: 250px;
        height: 500px;
        width: 500px;
        transition: calc(0.5s);
    }
 
    #circle-text01 {
        position: relative; 
        margin-left: 38%; 
        margin-top: 70%;
    }

    .circleParagraph {
        font-size: "1px";
        visibility: "hidden";
        transition: calc(.5s);
    }

    #circle-text02 {
        position: relative;  
        margin-right: 40%;
        margin-top: 70%;
    }

    #circle-text03 {
        position: relative; 
        margin-left: 45%; 
        margin-top: 20%;
    }

    #circle-text04 {
        position: relative; 
        margin-right: 40%; 
        margin-top: 20%;
    }

    /*circle close*/



 

    #theme_selector_wrapper {
        top: 0px;
        width: 100%;
        text-align: center;
        position: absolute;
    }    

    #theme_selector {
        position: absolute;
        margin-top: 1%;
        display: inline-block;
        width: 40px;
        height: 20px;
        border: solid 1px rgba(0, 0, 0, 0.466);
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.423);
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.531);
    }
    
    #theme_circle {
        background-color: var(--background-color2);
        width: 20px;
        height: 20px;
        border-radius: 10px;
        transition: calc(.3s);
        transform: translateX(0px);
    }

    #header {
        text-align: center;
        height: 300px;
        width: 100%;

    }

    #backgroundTop {
        top: 0;
        background-image: url("/assets/img/wpp01.jpg");
        width: 100%;
        height: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.30;
        position: absolute;
        z-index: -1;
        box-shadow: var(--insetShadow);
        
    }


    #inicio {
        margin-top: 5%;
        width: 300px;
        display: inline-block;
    }

    #inicio-content-wrapper {
        margin-top: 10%;
    }

    #brain-icon {
        width: 60px;
    }

    #top {
        text-align: center;
        margin-top: 20%;

    }

    #top > div {
        text-align: left;
        display: inline-block;
    }

    #top_content {
        width: 400px;
        height: fit-content; 
    }

    #about {
        margin-right: 10%;
    }

    #myPic > img {
        width: 300px;
        height: 300px;
        border-radius: 150px;
        box-shadow: var(--shadow);
    } 
    
    #linkedin-link-wrapper {
        text-align: center;
        display: block;
    }

    .linkedin-icon {
        height: 20px;
        transition: calc(0.5s);
        margin: 0 5px;
    }
    
    #linkedin-link {
        display: inline-block;
    }

    #end {
        margin-top: 5%;
        background-image: url('/assets/img/bgs2.png');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: left;
        box-shadow: var(--insetShadow);
    }

    .ball {
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: var(--background-color2);
        display: inline-block;
        margin-left: 2%;
    }

    .ball:hover {
        box-shadow: var(--shadow);
    }

    #end > h1 {
        text-align: center;
    }

    #coding-skills {
        border-radius: 20px;
        background-color: var(--background-color);
        padding: 30px;
        margin: 5% 100px;
        box-shadow: var(--shadow);
    }

    .coding-skill {
        margin-top: 2px;
        margin-left: 15%; 
    }

    .coding-icons > img, section > p > img {
        display: inline-block;
        height: 20px;
    }

    .coding-icons{
        display: inline-block;
        width: 200px;
    }
    
    .levels {
        display: inline;
        margin-left: 30px;
        width: 200px;
    }

    .git-icon {
        height: 20px;
        transition: calc(0.5s);
    }
    #github-link-wrapper {
        text-align: center; 
    }
    
    #github-link:hover {
        transition: calc(0.5s);
    }  

    #middle01 {   
        margin-top: 5%;
        text-align: center;
        color: var(--text-color);
    }

    #ITdescription {
        display: inline-block;

        width: 50%;
    }

    #ITSkills {
        text-align: center;
        
    }
    
    .ITIcons {
        display: inline-block;
        margin-top: 50px;
        margin-left: 20px;
    }
    
    .ITIcons > img {
        height: 80px;
        width: 80px;
    }

    footer {
        margin-top: 5%;
        z-index: -1;
        color: white;
        text-align: center;
        font-family: var(--font01);
        background-image: url("../img/bgs4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        box-shadow: var(--insetShadow);
    }

    #footerInfo {
        margin-top: 2%;
    }
    
    #contatos {
        display: inline-block;
        margin-right: 100px;
        text-align: left;
    }
    
    #contatos > ul > li {
        list-style: none;
        margin: 10px;
    }
    
    #contatos > ul > li > img {
        display: inline-block;
        text-align: left;
        margin: 0;
    }
    
    #contatos > ul > li > a {
        display: inline-block;
        text-align: left;
        margin-left: 10px;
    }
    
    
    #finalPic {
        display: inline-block;
        background-image: url("https://avatars.githubusercontent.com/u/83825905?s=400&u=0954c997e898441a1854f269dea0ebb0ff358eaf&v=4");
        background-size: contain;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        box-shadow: 0 0 10px white;
    }


}

@media (max-width: 640px)  {
    body > h1 {
        font-size: 16px;
        transition: calc(.3s);
        text-align: left;
    }

    div.circle {  
        display: none;
    }

    #menu-wrapper {
        display: block;
        position: absolute;
        top: 10px;
        left: 80%;
    }

    .menu-line {
        margin-top: 5px;
        background-color: var(--background-color2);
        width: 30px;
        height: 5px;
        border-radius: 2px;
    }


    #theme_selector_wrapper {
        width: 100%;
        text-align: left;
        margin: 5%;
    }    

    #theme_selector {
        margin-top: 1%;
        display: inline-block;
        width: 40px;
        height: 20px;
        border: solid 1px rgba(0, 0, 0, 0.466);
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.423);
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.531);
    }
    
    #theme_circle {
        background-color: var(--background-color2);
        width: 20px;
        height: 20px;
        border-radius: 10px;
        transition: calc(.3s);
        transform: translateX(0px);
    }
    
    #header {
        text-align: center;
        height: 300px;
        width: 100%;
        margin-bottom: 20%;

    }

    #inicio {
        margin-top: 18%;
        width: 50%;
        display: inline-block;
    }
   
    #linkedin-link-wrapper {
        text-align: center;
    }

    #backgroundTop {
        top: 0;
        background-image: url("/assets/img/wpp01.jpg");
        width: 100%;
        height: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.30;
        position: absolute;
        z-index: -1;
        box-shadow: var(--insetShadow);
        
    }

    #top {
        margin-top: 30%; 
    }

    #top > .content {
        width: 80%;
    }

    #myPic > img {
        margin-top: 10%;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        box-shadow: var(--shadow);
    } 

    #github-link-wrapper {
        text-align: center; 
    }

        
    #end {
        margin-top: 10%;
        background-image: url('/assets/img/bgs2.png');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        box-shadow: var(--insetShadow);
    }

    .ball {
        height:10px;
        width: 10px;
        border-radius: 2.5px;
        background-color: var(--background-color2);
        display: inline-block;

    }

    .ball:hover {
        box-shadow: var(--shadow);
    }

    h1 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 5%;
    }

    
    h3, h2 {
        font-size: 16px;
    }

    #coding-skills {
        text-align: center;
        border-radius: 20px;
        background-color: var(--background-color);
        
  
        box-shadow: var(--shadow);
    }

    #coding-skills.content {
        width: 60%;
        margin: 10%;
    }

    .coding-skill {
        display: block; 
        margin: 0; 
    }

    .coding-icons{
        display: inline-block;
        width: 100px;
        margin: 0px;
    }

    .levels {
        display: inline;
        margin-left: 0px;
        width: 200px;
    }

    #middle01 {   
        margin-top: 5%;
        text-align: center;
        color: var(--text-color);
    }

    #ITdescription {
        display: inline-block;

        width: 50%;
    }

    #ITSkills {
        text-align: center;
        
    }
    
    .ITIcons {
        display: inline-block;
        margin-top: 30px;
        margin-left: 20px;
    }
    
    .ITIcons > img {
        height: 50px;
        width: 50px;
    }

    footer {
        margin-top: 5%;
        z-index: -1;
        color: var(--text-color);
        text-align: center;
        font-family: var(--font01);
        background-image: url("../img/bgs4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
        box-shadow: var(--insetShadow);
    }

    #footerInfo {
        margin-top: 2%;
        display: inline-block;
    }

    #contatos {
        display: inline-block;
        text-align: center;
        margin: 0;
    }
    
    #contatos > ul > li {
        list-style: none;
        margin: 10px;
    }
    
    #contatos > ul > li > img {
        display: inline-block;
        text-align: left;
 
    }
    
    #contatos > ul > li > a {
        display: inline-block;
        text-align: left;
        margin-left: 10px;
    }
    
    #finalPic {
        display: inline-block;
        background-image: url("https://avatars.githubusercontent.com/u/83825905?s=400&u=0954c997e898441a1854f269dea0ebb0ff358eaf&v=4");
        background-size: contain;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        box-shadow: var(--shadow);
    }


}



/*Coding Skills*/




